<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zenpath">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZenPath">

        <activity
            android:name=".ActivityDiary"
            android:exported="false" />

        <activity
            android:name=".DiaryHistoryActivity"
            android:exported="false" />


        <activity
            android:name=".MoodActivity"
            android:exported="false" />

        <activity
            android:name=".MoodHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".StressHistoryActivity"
            android:exported="false" />


        <activity
            android:name=".SelectionGamesActivity"
            android:exported="false" />

        <activity
            android:name=".InhaleExhaleActivity"
            android:exported="false" />

        <activity
            android:name=".ConnectDotsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>
